{% if error_message %}
    <div class="alert alert-danger fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ error_message }}</strong>
    </div>
{% endif %}
{% if info_message %}
    <div class="alert alert-info fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ info_message }}</strong>
    </div>
{% endif %}