<% include partials/header.ejs %>
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>Welcome to YelpCamp!</h1>
                    <p>I don't really know what it is though.. :)</p>
                    <br>
                    <p><a class="btn btn-primary btn-large" href="#"> add new campground</a></p>
                </div>
            </header>
        </div>
<% include partials/footer.ejs %>
