<% include partials/header.ejs %>
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1 class="title"><strong>CinemaScope</strong></h1>
                    <p>Where you can peek at tons of movies</p>
                    <p>Our database is growing as time is ticking...</p>
                    <p>Tick...! Tick...! Tick...!</p>
                </div>
            </header>
        </div>
<% include partials/footer.ejs %>
