<% include partials/header.ejs %>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="detil">
                        <strong><%= header %></strong>
                    </h1>
                </div>

                <!--ISI PANEL -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                            <img src="http://media.comicbook.com/2017/03/power-rangers-2017-vs-life-box-office-240296.jpg">
                            
                            <div class="info">
                                <div class="caption">
                                    <h4>JUDUL</h4>
                                </div>
                                <label class="label-md label-primary lbl-fav">
                                    <span class="glyphicon glyphicon-star"></span class="pull-right">
                                    <span class="pull-right">103</span>
                                </label>
                                <button class="btn btn-danger pull-right" href="#">Preview</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                            <img src="https://i.ytimg.com/vi/4x9mKvNa-_0/hqdefault.jpg">
                            
                            <div class="info">
                                <div class="caption">
                                    <h4>JUDUL</h4>
                                </div>
                                <label class="label-md label-primary lbl-fav">
                                    <span class="glyphicon glyphicon-star"></span class="pull-right">
                                    <span class="pull-right">103</span>
                                </label>
                                <button class="btn btn-danger pull-right" href="#">Preview</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                            <img src="http://img.cinemablend.com/cb/0/d/1/0/6/6/0d10668e976b7f61f6032a98da60bad49ca1fb845f78408387c9417e804eda7b.jpg">
                            
                            <div class="info">
                                <div class="caption">
                                    <h4>JUDUL</h4>
                                </div>
                                <label class="label-md label-primary lbl-fav">
                                    <span class="glyphicon glyphicon-star"></span class="pull-right">
                                    <span class="pull-right">103</span>
                                </label>
                                <button class="btn btn-danger pull-right" href="#">Preview</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                            <img src="https://weminoredinfilm.files.wordpress.com/2017/03/grab-your-popcorn-here-are-movies-to-watch-out-for-this-march-2017.jpg">
                            
                            <div class="info">
                                <div class="caption">
                                    <h4>JUDUL</h4>
                                </div>
                                <label class="label-md label-primary lbl-fav">
                                    <span class="glyphicon glyphicon-star"></span class="pull-right">
                                    <span class="pull-right">103</span>
                                </label>
                                <button class="btn btn-danger pull-right" href="#">Preview</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                            <img src="http://cdn.film-book.com/wp-content/uploads/2016/02/wolverine-deadpool-01-600x350.jpg">
                            
                            <div class="info">
                                <div class="caption">
                                    <h4>JUDUL</h4>
                                </div>
                                <label class="label-md label-primary lbl-fav">
                                    <span class="glyphicon glyphicon-star"></span class="pull-right">
                                    <span class="pull-right">103</span>
                                </label>
                                <button class="btn btn-danger pull-right" href="#">Preview</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                            <img src="https://theabuadtimeline.files.wordpress.com/2016/11/logan-tat.jpg?w=648">
                            
                            <div class="info">
                                <div class="caption">
                                    <h4>JUDUL</h4>
                                </div>
                                <label class="label-md label-primary lbl-fav">
                                    <span class="glyphicon glyphicon-star"></span class="pull-right">
                                    <span class="pull-right">103</span>
                                </label>
                                <button class="btn btn-danger pull-right" href="#">Preview</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<% include partials/footer.ejs %>