.navbar {
    background: black;
}

.navbar-brand {
    padding-top: 22px;
    font-size: 25px;
    color: red;
    font-family: "Bungee Inline", cursive;
}

.navbar-brand:hover {
    color: red;
    text-shadow: white 0em 0em 0.3em;
}

.nav-pills {
    padding-top: 7px;
    font-size: 1.2em;
    font-family: "Berkshire Swash", cursive;
}

.nav-pills ul>li:hover {
    background: lawngreen;
}

.glyphicon-facetime-video {
    color: blue;
    font-size: 25px;
}

.glyphicon-film {
    color: white;
}

.glyphicon-fire {
    color: red;
}

.glyphicon-star {
    color: yellow;
}

.glyphicon-heart-empty {
    color: blue;
}

body {
    padding: 70px 20px 20px 20px;
    background: black;
}

.panel-heading {
    height: 50px;
}

.panel {
    background: black;
}

h1.detil {
    /*text-align: center;*/
    font-family: "Codystar", cursive;
    font-size: 30px;
    text-shadow: grey 0.1em 0.1em 0.1em;
    color: yellow;
    margin: auto;
    font-style: bold;
}

h1.title {
    color: blue;
}

.thumbnail {
    justify-content: space-between;
    flex-direction: column;
    height: 350px;
    display: flex;
    height: 350px;
    background: black;
    float: left;
    margin: 5px;
}

.thumbnail img {
    height: 210px;
}

.thumbnail .info {
    height: 125px;
    /*background: blue;*/
}

.thumbnail .caption h4 {
    color: whitesmoke;
    font-size: .8em;
    margin-left: -9px;
    width: 293px;
}

.lbl-fav {
    padding: 7px 5px 5px 5px;
    font-size: 0.8em;
    width: 60px;
    color: white;
    margin: auto;
    height: 30px;
}

.btn-more {
    height: 25px;
    width: 70px;
    font-size: .8em;
    margin: auto;
    /*padding: 2px;*/
}

tr td {
    font-size: .8em;
    color: white;
}

.table-title {
    font-size: .8em;
    width: 80px;
    color: peachpuff;
    font-style: bold;
}

.table-value {
    font-size: .8em;
    color: white;
}

.description {
    color: white;
    height: 590px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
}

.comments {
    color: black;
    background: white;
    height: 490px;
    width: 309px;
    border: 1px solid green;
    border-radius: 2px;
    padding: 5px;
}

.comment-list {
    overflow-y: scroll;
    height: 440px;
    width: 300px;
    position: absolute;
}

.table-comment {
    width: 100%;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: lightseagreen;
    width: 290px;
    color: black;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: white;
    width: 290px;
    color: black;
}

.comment-input {
    width: 309px;
    height: 60px;
}

.table-striped>tbody>td {
    margin: 2px;
}

.lbl-date {
    padding: 2px;
    text-align: center;
    font-size: .85em;
    width: 100%;
}

.lbl-user {
    padding: 2px;
    font-size: .85em;
    width: 100%;
    color: white;
}

.login-input {
    margin-bottom: 5px;
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.form-login {
    background: url("/images/ticket_retro.png") no-repeat 0 0;
    width: 500px;
    height: 200px;
}

.alert {
    margin: 0 auto;
}