<% include partials/header.ejs %>
    <div class="login-form">
        <form action="/member/login" class="form-group" method="POST">
            <div class="input-group input-group-md login-input">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            
            <div class="input-group input-group-md login-input">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            
            <button class="btn btn-success btn-block" type="submit" name="submit">Login</button>
        </form>
        <a href="/member/register"><button class="btn btn-danger btn-block" name="register">Or Sign Up for FREE Membership</button></a>
    </div>
<% include partials/footer.ejs %>